h2 {
    color:red;
    font-size: 16px;
}

p {
	color: black;
	margin-bottom: 5 px;
}

.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown>.dropdown-toggle:active {
     pointer-events: none;
}

h5 {
    color: red;
}

.modal-second {
  z-index: 1052;
}

.modal-backdrop.fade {
  & + .modal-backdrop.fade {
    z-index: 1051;
  }
}


.radio-container {
            display: flex;
            align-items: center;
        }

        .radio-input {
            margin-right: 10px;
            opacity: 0;
            position: absolute;
        }

        .radio-label {
            position: relative;
            cursor: pointer;
            padding-left: 30px; /* Khoảng cách từ checkbox đến nội dung */
        }

        .radio-custom {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px; /* Chiều cao của checkbox */
            width: 20px; /* Chiều rộng của checkbox */
            background-color: #fff; /* Màu nền của checkbox */
            border: 1px solid #ddd; /* Viền của checkbox */
            border-radius: 50%; /* Độ cong của checkbox để tạo hình tròn */
            transition: background-color 0.3s;
        }

        .radio-input:checked + .radio-label .radio-custom {
            background-color: #4CAF50; /* Màu nền khi được chọn */
            border-color: #4CAF50; /* Màu viền khi được chọn */
        }

        /* Hiệu ứng khi hover */
        .radio-label:hover .radio-custom {
            background-color: #f3f3f3; /* Màu nền khi hover */
        }

.modal-adv {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-adv {
    position: relative;
    margin: 10% auto;
    padding: 20px;
    background-color: #fff;
    max-width: 600px;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    cursor: pointer;
}


