<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link th:href="@{/resources/css/index.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

</head>

<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
            <img src="/images/logoShop.png" alt="Logo" width="100.4" height="42.4">
        </a>

        <ul class="nav nav-pills" >

            <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
            <li class="nav-item"><a href="/shop" class="nav-link">SHOP</a></li>
            <li class="nav-item"><a href="/about" class="nav-link">ABOUT</a></li>
            <li class="nav-item"><a href="/contact" class="nav-link">CONTACT</a></li>
            <li class="nav-item"><a href="/login" class="nav-link active" aria-current="page">LOGIN</a></li>

        </ul>
    </header>
</div>
<div class="container" >
    <form class="row g-3 d-flex justify-content-center" th:action="@{/forgot-password}" method="post">
        <div class="col-auto">
            <p >Nhập email bạn đã đăng ký</p>
        </div>
        <div class="col-auto">
            <input name="email" type="text" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Xác nhận</button>
        </div>
    </form>
    <p class="text-center mt-3 fst-italic">* Lưu ý: Nếu username của bạn là email không tồn tại, bạn không thể lấy lại được mật khẩu của mình!</p>
</div>

<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">

            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
                <img src="/images/logoShop.png" alt="Logo" width="100.4" height="42.4">
            </a>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="mr-3">Contact us via</li>
            <li class="ms-3"><a href="https://www.facebook.com/profile.php?id=100009209162245" style="margin-right: 20px;"><img src="/images/new-facebook-logo-2019.jpg" width="30" height="30"></a></li>
            <li class="ms-3"><a href="https://www.instagram.com/van.nguyen2301/"><img src="/images/instagram-mobile-app-logo-instagram-app-icon-ig-app-free-free-vector.jpg" width="30" height="30"></a></li>
        </ul>
    </footer>
</div>

<input type="hidden" id="message" th:value="${message}" />
<script >
    document.addEventListener('DOMContentLoaded', function() {
    toastr.options = {
        closeButton: true,
        debug: false,
        newestOnTop: false,
        progressBar: true,
        positionClass: "toast-top-right",
        preventDuplicates: false,
        showDuration: "300",
        hideDuration: "1000",
        timeOut: "2000",
        extendedTimeOut: "1000",
        showEasing: "swing",
        hideEasing: "linear",
        showMethod: "fadeIn",
        hideMethod: "fadeOut"
    };

    var msg = document.getElementById('message').value;

    if (msg === "wrong-email") {
        toastr.error("Email của bạn chưa đăng ký!");
    }
    if (msg === "email-not-exist") {
        toastr.warning("Không thể gửi mail do email bạn đăng ký không tồn tại!");
    }

});

</script>

</body>
</html>