<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link th:href="@{/resources/css/index.css}" rel="stylesheet"/>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/regular.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet" type="text/css" />
    <link href="/css/bootstrap-rating.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.11.2/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-rating-shopPage.js"></script>
    <script type="text/javascript" src="/js/shop.js"></script>
    <style>
        .custom-dropdown {
            position: relative;
        }

        .custom-dropdown .dropdown-menu {
            position: absolute;
        }
        .custom-dropdown:hover .dropdown-menu {
            display: block;
        }

        @keyframes blink {
          0% {opacity: 1;}
          50% {opacity: 0;}
          100% {opacity: 1;}
        }

        .blinking {
          animation: blink 0.01s infinite;
        }

    </style>
</head>
<body>
	<div class="container">
    <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
        <img src="/images/logoShop.png" alt="Logo" width="100.4" height="42.4">
      </a>
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link">HOME</a></li>
        <li class="nav-item"><a href="/shop" class="nav-link active" aria-current="page">SHOP</a></li>
        <li class="nav-item"><a href="/about" class="nav-link">ABOUT</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link">CONTACT</a></li>
          <li th:if="${user.email == null}" class="nav-item">
              <a href="/login" class="nav-link">LOGIN</a>
          </li>
          <li th:if="${user.email != null}" class="nav-item dropdown">
              <ul class="navbar-nav mr-auto">
                  <li th:if="${user.email != null}" class="nav-item custom-dropdown dropdown">
                      <a style="color:blue;" href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                         data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                         th:text="'Xin chào ' + ${user.firstName}">Hello, ${user.firstName}</a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="/user">Tài khoản của tôi</a>
                          <a class="dropdown-item" href="/cart">Giỏ hàng</a>
                          <a class="dropdown-item" href="/receipt">Đơn mua</a>
                          <a class="dropdown-item" href="/logout">Đăng xuất</a>
                      </div>
                  </li>
              </ul>
      </ul>
    </header>
	</div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h1 class="mb-3" style="font-size: 26px; color: #3a83d6;">Danh mục sản phẩm</h1>
                <div class="input-group mx-auto">
                    <form th:action="@{/shop/search}" method="get" class="d-flex">
                        <input th:if="${categoryDef!=null}" type="hidden" th:value="${categoryDef.id}" name="categoryId">
                        <input th:if="${categoryDef==null}" type="hidden" value="0" name="categoryId">
                        <input type="search" name="keyword" class="form-control" placeholder="Tìm sản phẩm .." aria-describedby="search-icon-1">
                        <button type="submit" id="search-icon-1" class="input-group-text"><i class="fa fa-search" style="color: #c1d3e8;"></i></button>
                    </form>
                </div>
                <ul class="list-group mt-4">
                    <a th:href="@{/shop}">
                        <li class="list-group-item">Tất cả</li>
                    </a>
                    <a th:each="category, iStat : ${categories}" th:href="@{/shop/category/{id}(id=${category.id})}">
                        <li class="list-group-item" th:text="${category.name}"></li>
                    </a>
                </ul>
            </div>

            <div class="col-sm-9 justify-content-between">
                <div th:if="${categoryDef==null}" class="d-flex justify-content-between">
                    <div style="text-align: left" class="nav-item custom-dropdown dropdown">
                        <a style="text-decoration:none; color: #abb8c3" href="#" class="nav-link dropdown-toggle" id="navbarDropdown2" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${sapxep}"
                        >Xếp theo: Mặc định</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                            <a class="dropdown-item active" th:href="@{/shop(statusProduct=${statusProduct}, minPrice=${minPrice}, maxPrice=${maxPrice}, sortField=0, sortDirection=0)}">Mặc định</a>
                            <a class="dropdown-item" th:href="@{/shop(statusProduct=${statusProduct}, minPrice=${minPrice}, maxPrice=${maxPrice}, sortField=1, sortDirection=0)}">Nổi bật</a>
                            <a class="dropdown-item" th:href="@{/shop(statusProduct=${statusProduct}, minPrice=${minPrice}, maxPrice=${maxPrice}, sortField=2, sortDirection=0)}">Giá cao đến thấp</a>
                            <a class="dropdown-item" th:href="@{/shop(statusProduct=${statusProduct}, minPrice=${minPrice}, maxPrice=${maxPrice}, sortField=2, sortDirection=1)}">Giá thấp đến cao</a>
                        </div>
                    </div>

                    <div style="text-align: left" class="nav-item custom-dropdown dropdown">
                        <a style="text-decoration:none; color: #abb8c3" href="#" class="nav-link dropdown-toggle" id="navbarDropdown4" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        >Lọc sản phẩm: </a>
                        <div class="dropdown-menu" style="min-width: 240px;" aria-labelledby="navbarDropdown4">
                            <form class="ml-3 mr-3" th:action="@{/shop}" method="get">
                                <div class="form-check">
                                    <input class="form-check-input" th:checked="${statusProduct}" type="checkbox" id="statusProduct" name="statusProduct" value="1">
                                    <label class="form-check-label" for="statusProduct">Sản phẩm mới</label>
                                </div>

                                <div class="form-group mt-3">
                                    <label for="minPrice">Giá thấp nhất:</label>
                                    <input type="number" class="form-control" id="minPrice" name="minPrice" th:value="${minPrice}">
                                </div>

                                <div class="form-group">
                                    <label for="maxPrice">Giá cao nhất:</label>
                                    <input type="number" class="form-control" id="maxPrice" name="maxPrice" th:value="${maxPrice}">
                                </div>

                                <input type="hidden" name="sortField" th:value="${sortField}">
                                <input type="hidden" name="sortDirection" th:value="${sortDirection}">

                                <button type="submit" class="btn btn-primary d-flex mx-auto mt-4">Hoàn thành</button>
                            </form>
                        </div>
                    </div>


                    <div th:if="${categoryDef==null}" style="margin-right:18px;" class="d-flex align-items-center">
                        <p style="font-size:16px; color: #abb8c3; margin:0; padding:0;" >Tất cả sản phẩm</p>
                    </div>
                </div>

                <div th:if="${categoryDef!=null}" class="d-flex justify-content-between">
                    <div style="text-align: left" class="nav-item custom-dropdown dropdown">
                        <a style="text-decoration:none; color: #abb8c3" href="#" class="nav-link dropdown-toggle" id="navbarDropdown3" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${sapxep}"
                        >Xếp theo: Mặc định</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown3">
                            <a class="dropdown-item active" th:href="@{/shop/category/{id}(id=${categoryDef.id}, sortField=0, sortDirection=0)}">Mặc định</a>
                            <a class="dropdown-item" th:href="@{/shop/category/{id}(id=${categoryDef.id}, statusProduct=${statusProduct}, minPrice=${minPrice}, maxPrice=${maxPrice}, sortField=1, sortDirection=0)}">Nổi bật</a>
                            <a class="dropdown-item" th:href="@{/shop/category/{id}(id=${categoryDef.id}, statusProduct=${statusProduct}, minPrice=${minPrice}, maxPrice=${maxPrice}, sortField=2, sortDirection=0)}">Giá cao đến thấp</a>
                            <a class="dropdown-item" th:href="@{/shop/category/{id}(id=${categoryDef.id}, statusProduct=${statusProduct}, minPrice=${minPrice}, maxPrice=${maxPrice}, sortField=2, sortDirection=1)}">Giá thấp đến cao</a>
                        </div>
                </div>

                    <div style="text-align: left" class="nav-item custom-dropdown dropdown">
                        <a style="text-decoration:none; color: #abb8c3" href="#" class="nav-link dropdown-toggle" id="navbarDropdown5" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        >Lọc sản phẩm: </a>
                        <div class="dropdown-menu" style="min-width: 240px;" aria-labelledby="navbarDropdown5">
                            <form class="ml-3 mr-3" th:action="@{/shop/category/{id}(id=${categoryDef.id})}" method="get">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="statusProduct1" name="statusProduct" value="1">
                                    <label class="form-check-label" for="statusProduct">Sản phẩm mới</label>
                                </div>

                                <div class="form-group mt-3">
                                    <label for="minPrice">Giá thấp nhất:</label>
                                    <input type="number" class="form-control" id="minPrice1" name="minPrice" th:value="${minPrice}">
                                </div>

                                <div class="form-group">
                                    <label for="maxPrice">Giá cao nhất:</label>
                                    <input type="number" class="form-control" id="maxPrice1" name="maxPrice" th:value="${maxPrice}">
                                </div>

                                <input type="hidden" name="sortField" th:value="${sortField}">
                                <input type="hidden" name="sortDirection" th:value="${sortDirection}">

                                <button type="submit" class="btn btn-primary d-flex mx-auto mt-4">Hoàn thành</button>
                            </form>
                        </div>
                    </div>

                    <div th:if="${categoryDef!=null}" style="margin-right: 18px;" class="d-flex align-items-center">
                        <p style="font-size:16px; color: #abb8c3; margin:0; padding:0;" th:text="${categoryDef.name}">Tất cả sản phẩm</p>
                    </div>
                </div>


                <div class="row mt-2" id="product-list">
                    <div class="col-md-6 col-lg-6 col-xl-4 mb-4" th:each="product : ${products}">
                        <div class="card" style="width: 250px; height: 380px; position: relative;">
                            <div th:if="${product.productStatus=='new'}" class="blinking" style="position: absolute; top: 0; left: 0; z-index:1;">
                                <img height="28.65px" width="54px;" src="/images/new.png">
                            </div>
                            <div th:if="${product.quantitySold>=500}" class="" style="position: absolute; top: 0; right: 0; z-index:1;">
                                <img height="40px" width="40px;" src="/images/bestseller.png">
                            </div>
                            <div class="mx-auto">
                                <a style="text-decoration: none;" th:href="@{/shop/viewproduct/{id}(id=${product.id})}">
                                    <img class="mt-3 position-relative mx-0" height="200px" width="200px" th:src="@{${'/productImages/'+product.imageName}}">
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 style="color:#404852; font-size: 16px;" class="card-title product-name" th:text="${product.name}"></h2>
                                <p class="card-text" style="color: red; position: absolute; bottom: 2rem;" th:text="${#numbers.formatDecimal(product.price,1, 'COMMA', 0, 'DEFAULT')}"></p>
                                <input style="position: absolute; bottom: 1rem;" th:value="${product.avgRating}" class="rating card-text" type="hidden" name="rating" readonly/>
                                <p class="card-text" style="color: black; font-size:0.75rem; position: absolute; right:1rem; bottom: 1rem;" th:text="'Đã bán: '+${product.quantitySold}">Đã bán</p>
                            </div>

                        </div>
                    </div>
                </div>
                <button id="load-more" class="btn btn-primary mx-auto d-flex">Hiển thị thêm sản phẩm</button>
            </div>
        </div>
    </div>

	<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">

        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
        <img src="/images/logoShop.png" alt="Logo" width="100.4" height="42.4">
      	</a>
      </div>

      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
		<li class="mr-3">Contact us via</li>
        <li class="ms-3"><a href="https://www.facebook.com/profile.php?id=100009209162245" style="margin-right: 20px;"><img src="/images/new-facebook-logo-2019.jpg" width="30" height="30"></a></li>
        <li class="ms-3"><a href="https://www.instagram.com/van.nguyen2301/"><img src="/images/instagram-mobile-app-logo-instagram-app-icon-ig-app-free-free-vector.jpg" width="30" height="30"></a></li>
      </ul>
    </footer>
  </div>

    <input type="hidden" id="productsSize" th:value="${productsSize}" />
<script>

</script>
</body>
</html>